<div [formGroup]="regForm">
  <div class="form-group col-md-4" formGroupName="queryDetails">
    <label>Ask Query</label>
    <textarea formControlName="customerQuery" rows="5" cols="50"></textarea>
    <div
      *ngIf="
        queryDetails.get('customerQuery').invalid &&
        queryDetails.get('customerQuery').touched
      "
      class="alert alert-danger"
    >
      <div *ngIf="queryDetails.get('customerQuery').errors.required">
        Query is required.
      </div>
    </div>
  </div>
</div>
<br />
<button class="btn btn-secondary" type="button" matStepperPrevious>Back</button>
&nbsp;
<button
  class="btn btn-primary"
  [disabled]="!queryDetails.valid"
  type="button"
  matStepperNext
>
  Next
</button>
