<div [formGroup]="regForm">
  <div class="form-group col-md-4" formGroupName="personalDetails">
    <label>Firstname*</label>
    <input type="text" class="form-control" formControlName="firstName" />
    <div
      *ngIf="
        personalDetails.get('firstName').invalid &&
        personalDetails.get('firstName').touched
      "
      class="alert alert-danger"
    >
      <div *ngIf="personalDetails.get('firstName').errors.required">
        Name is required.
      </div>
      <div *ngIf="personalDetails.get('firstName').errors.minlength">
        Name must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="form-group col-md-4" formGroupName="personalDetails">
    <label>Lastname</label>
    <input type="text" class="form-control" formControlName="lastName" />
  </div>
  <div class="form-group col-md-4" formGroupName="personalDetails">
    <label>Phone*</label>
    <input type="number" class="form-control" formControlName="phone" />
    <div
      *ngIf="
        personalDetails.get('phone').invalid &&
        personalDetails.get('phone').touched
      "
      class="alert alert-danger"
    >
      <div *ngIf="personalDetails.get('phone').errors.required">
        Phone is required.
      </div>
      <div *ngIf="personalDetails.get('phone').hasError('pattern')">
        Please enter phone number in correct format. Phone number must be 10
        characters long
      </div>
    </div>
  </div>
  <div class="form-group col-md-4" formGroupName="personalDetails">
    <label>Email*</label>
    <input type="email" class="form-control" formControlName="email" />
    <div
      *ngIf="
        personalDetails.get('email').invalid &&
        personalDetails.get('email').touched
      "
      class="alert alert-danger"
    >
      <div *ngIf="personalDetails.get('email').errors.required">
        Email is required.
      </div>
      <div *ngIf="personalDetails.get('email').invalid">
        Please enter correct email address
      </div>
    </div>
  </div>
  <div class="form-group col-md-4" formGroupName="personalDetails">
    <div>Gender*</div>
    <label>
      <input type="radio" value="Male" formControlName="gender" />
      <span>Male</span>
    </label>
    <label>
      <input type="radio" value="Female" formControlName="gender" />
      <span>Female</span>
    </label>
  </div>
  <div class="form-group col-md-4" formGroupName="personalDetails">
    <label>Address</label>
    <textarea formControlName="address" rows="2" cols="50"></textarea>
  </div>
</div>
<br />
<button
  class="btn btn-primary"
  [disabled]="!personalDetails.valid"
  type="button"
  matStepperNext
>
  Next
</button>
