<div *ngIf="isLoading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="validationErrors.length">
  <p class="alert alert-danger">
    Please fix these errors and try submitting again
  </p>
  <div
    *ngFor="let error of validationErrors"
    class="alert alert-warning"
    role="alert"
  >
    <p>
      You entered:
      {{
        error.value
          ? error.value
          : "You did not enter any value, Please enter value"
      }}
    </p>
    <p>Error Message: {{ error.msg }}</p>
  </div>
</div>

<div *ngIf="!isLoading && !validationErrors.length">
  <h4 class="alert alert-info">
    Please confirm your details before submitting the form
  </h4>
  <ul class="list-group">
    <li class="list-group-item">
      Email : {{ regForm.get("personalDetails").get("email").value }}
    </li>
    <li class="list-group-item">
      Name: {{ regForm.get("personalDetails").get("firstName").value }}
    </li>
  </ul>
</div>

<div class="mt-3" *ngIf="!isLoading">
  <re-captcha
    class="mb-2"
    (resolved)="resolved($event)"
    siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
  ></re-captcha>
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button
      class="btn btn-secondary"
      type="button"
      (click)="clearErrors()"
      matStepperPrevious
    >
      Back
    </button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button class="btn btn-warning" type="button" (click)="resetForm()">
      Reset form
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button
      [disabled]="validationErrors.length"
      class="btn btn-success"
      type="button"
      (click)="submit()"
    >
      Submit
    </button>
  </div>
</div>
